<div class="card">
    <div class="card-title flex justify-between items-center">
        <div class="flex gap-2">
            {% if gift.image %}
                <img src="{{ gift.image.url }}"
                     alt="{{ gift.name }}"
                     class="gift-item-image"
                     height="75"
                     width="75" />
            {% else %}
                <img src="https://via.placeholder.com/75"
                     alt="Default Image"
                     class="gift-item-image"
                     height="75"
                     width="75" />
            {% endif %}
            <div class="gift-item-title">
                {{ gift.name }}
                <div class="flex gap-2 mt-2 text-sm">
                    {% if gift.suitable_age_range %}<span class="bless-tag">{{ gift.get_suitable_age_range_display }}</span>{% endif %}
                    {% if gift.suitable_gender %}<span class="bless-tag">{{ gift.get_suitable_gender_display }}</span>{% endif %}
                    {% if gift.suitable_location %}<span class="bless-tag">{{ gift.suitable_location }}</span>{% endif %}
                </div>
            </div>
        </div>
        <div class="text-sm flex gap-2">
            {% if user.is_authenticated and gift not in user.possessed_gifts.all %}
                <form method="post" action="{% url 'gifts:mark_as_owned' gift.id %}">
                    {% csrf_token %}
                    <button type="submit" class="ng-btn">
                        <i class="fas fa-check-circle"></i> Owned
                    </button>
                </form>
            {% endif %}
            {% if user.is_authenticated and gift.suggestedBy == user %}
                <a href="{% url 'gifts:gift_update' gift.id %}" class="ng-btn">
                    <i class="fas fa-edit"></i> Edit
                </a>
            {% endif %}
        </div>
    </div>
    <div class="card-content">
        <div>${{ gift.priceMin }} - ${{ gift.priceMax }}</div>
        <div class="gift-item-description">{{ gift.description }}</div>
    </div>
    {% if gift.giftCategories.count %}
        <div class="card-footer">
            {% for category in gift.giftCategories.all %}<span class="bless-tag">{{ category.name }}</span>{% endfor %}
        </div>
    {% endif %}
</div>
