<div class="card">
    <div class="card-title">
        <div class="flex gap-2">
            {% if gift.image %}
                <img src="{{ gift.image.url }}"
                     alt="{{ gift.name }}"
                     class="gift-item-image"
                     height="75"
                     width="75" />
            {% else %}
                <img src="https://via.placeholder.com/75"
                     alt="Default Image"
                     class="gift-item-image"
                     height="75"
                     width="75" />
            {% endif %}
            <div class="gift-item-title">{{ gift.name }}</div>
        </div>
    </div>
    <div class="card-content">
        <div>${{ gift.priceMin }} - ${{ gift.priceMax }}</div>
        <div class="gift-item-description">{{ gift.description }}</div>
        <div>
            <strong>Age Range:</strong> {{ gift.get_suitable_age_range_display }}
            <strong>Gender:</strong> {{ gift.get_suitable_gender_display }}
            <strong>Location:</strong> {{ gift.suitable_location }}
        </div>
    </div>
    {% if gift.giftCategories.count %}
        <div class="card-footer">
            {% for category in gift.giftCategories.all %}<span class="bless-tag">{{ category.name }}</span>{% endfor %}
        </div>
    {% endif %}
</div>
