{% load pagination_tags %}
{% if is_paginated %}
    <div class="flex justify-end items-end gap-2">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}&{{ request.GET.urlencode|remove_query_param:'page' }}"
               class="ng-btn-secondary px-3 py-2 text-sm flex items-center gap-1">
                <i class="fa-solid fa-chevron-left hover:text-primary"></i>
            </a>
        {% endif %}
        {% paginator_range page_obj paginator 2 as pages_to_display %}
        {% for item in pages_to_display %}
            {% if item == "..." %}
                <span class="px-2 text-gray-500">...</span>
            {% else %}
                {% if page_obj.number == item %}
                    <span class="ng-btn px-3 py-2 text-sm font-semibold cursor-default">{{ item }}</span>
                {% else %}
                    <a href="?page={{ item }}&{{ request.GET.urlencode|remove_query_param:'page' }}"
                       class="ng-btn-secondary px-3 py-2 text-sm hover:text-primary">{{ item }}</a>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&{{ request.GET.urlencode|remove_query_param:'page' }}"
               class="ng-btn-secondary px-3 py-2 text-sm flex items-center gap-1">
                <i class="fa-solid fa-chevron-right"></i>
            </a>
        {% endif %}
    </div>
{% endif %}
