{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="flex justify-center flex-col w-full items-center px-12 ">
        <div class="card w-full mt-8 mb-16">
            <div class="card-title">Search for Gifts</div>
            <form method="get" class="p-4">
                {% csrf_token %}
                {% crispy form %}
                <div class="flex justify-end mt-4">
                    <button type="submit" class="ng-btn">
                        <i class="fa-solid fa-magnifying-glass"></i>Search
                    </button>
                </div>
            </form>
        </div>
        <div class="gift-list w-full flex flex-col gap-2">
            {% for gift in gifts %}
                <div class="card">
                    <div class="card-title">
                        <div class="flex gap-2">
                            {% if gift.image %}
                                <img src="{{ gift.image.url }}"
                                     alt="{{ gift.name }}"
                                     class="gift-item-image"
                                     height="75"
                                     width="75" />
                            {% else %}
                                <img src="https://via.placeholder.com/75"
                                     alt="Default Image"
                                     class="gift-item-image"
                                     height="75"
                                     width="75" />
                            {% endif %}
                            <div class="gift-item-title">{{ gift.name }}</div>
                        </div>
                    </div>
                    <div class="card-content">
                        <div>${{ gift.priceMin }} - ${{ gift.priceMax }}</div>
                        <div class="gift-item-description">{{ gift.description }}</div>
                    </div>
                    {% if gift.giftCategories.count %}
                        <div class="card-footer">
                            {% for category in gift.giftCategories.all %}<span class="bless-tag">{{ category.name }}</span>{% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% empty %}
                <p>No gifts found matching your criteria.</p>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
