{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load is_moderator %}
{% block content %}
    <div class="flex justify-center w-full items-center px-4">
        <div class="card w-full max-w-4xl mt-8 mb-16">
            <!-- Post Details -->
            <div class="card-title mb-4 flex justify-between items-center">
                <div class="text-2xl font-bold">{{ post.title }}</div>
                {% if request.user|is_moderator %}
                    <div class="py-2">
                        <a href="{% url 'forum:post_delete' pk=post.id %}"
                           class="ng-btn text-[12pt]">
                            <i class="fas fa-trash"></i> Delete</a>
                    </div>
                {% endif %}
            </div>
            <div class="card-content">
                <p class="mb-4 whitespace-pre-line">{{ post.content }}</p>
                <p class="text-sm text-background">
                    Posted by <strong>{{ post.author.username }}</strong> on {{ post.created_at|date:"F j, Y, g:i a" }}
                </p>
            </div>
            <hr class="my-6 border-gray-300" />
            <!-- Comments Header -->
            <div class="flex justify-between items-center mb-4 px-4">
                <h2 class="text-xl font-semibold">Comments</h2>
                <a href="{% url 'forum:add_comment' post.id %}" class="ng-btn">Add Comment</a>
            </div>
            <!-- Comments List -->
            {% if comments %}
                <div class="space-y-4 px-4 mb-4">
                    {% for comment in comments %}
                        <div class="bg-white text-primary rounded shadow p-4">
                            <div class="flex justify-between items-center mb-4">
                                <p>
                                    <strong>{{ comment.author.username }}</strong>
                                </p>
                                {% if request.user|is_moderator %}
                                    <div>
                                        <a href="{% url 'forum:comment_delete' pk=comment.id %}"
                                           class="yw-btn text-xs text-white">
                                            <i class="fas fa-trash"></i> Delete</a>
                                    </div>
                                {% endif %}
                            </div>
                            <p class="mb-2 text-background whitespace-pre-line">{{ comment.content }}</p>
                            <p class="text-sm text-gray-500">Posted on {{ comment.created_at|date:"F j, Y, g:i a" }}</p>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p class="text-background px-4 mb-4">No comments yet. Be the first to comment!</p>
            {% endif %}
        </div>
    </div>
{% endblock content %}
