{% extends "users/profile.html" %}
{% block profile_content %}
    <div class="flex justify-between w-full">
        <h1>Friends</h1>
        <a href="{% url 'users:search_friends' %}" class="btn btn-primary">Search friends</a>
    </div>
    <ul class="mt-4">
        {% for friend in friends %}
            <li class="mb-4">
                <div>
                    <div>
                        <strong>{{ friend }}</strong>
                    </div>
                </div>
            </li>
        {% empty %}
            <li>No friends yet</li>
        {% endfor %}
    </ul>
{% endblock profile_content %}
