{% extends "base.html" %}
{% block title %}
    Profile - Gift Finder
{% endblock title %}
{% block content_classes %}
{% endblock content_classes %}
{% block content %}
    <div class="flex">
        <nav class="w-1/6 text-background bg-primary-light p-5 h-full h-screen sticky top-0">
            <ul>
                <li class="px-4 py-2 mt-2">
                    <a href="{% url 'users:wishlist' %}">Wishlist</a>
                </li>
                <li class="px-4 py-2">
                    <a href="{% url 'users:friends' %}">Friends</a>
                </li>
                <li class="px-4 py-2">
                    <a href="{% url 'users:settings' %}">Settings</a>
                </li>
                <li class="px-4 py-2">
                    <a href="{% url 'users:suggested_gifts' %}">Suggested for You</a>
                </li>
            </ul>
        </nav>
        <div class="profile-content px-5 py-10 min-h-full w-full">
            {% block profile_content %}
                content profile
            {% endblock profile_content %}
        </div>
    </div>
{% endblock content %}
