{% extends "users/profile.html" %}
{% block profile_content %}
    <div class="flex justify-between w-full">
        <h1 class="text-2xl font-bold">Serarch friends</h1>
        <form method="get">
            <input type="text"
                   name="filter"
                   placeholder="Search users by name"
                   value="{{ request.GET.filter }}">
            <button type="submit" class="yw-btn">Search</button>
        </form>
    </div>
    <ul class="mt-4">
        {% include "partials/pagination.html" %}
        {% for user in users %}
            <li class="mb-4">
                <li>{% include "partials/user_card.html" with user=user %}</li>
            </li>
        {% empty %}
            <li>There are no other users at the moment.</li>
        {% endfor %}
        {% include "partials/pagination.html" %}
    </ul>
{% endblock profile_content %}
