{% extends "users/profile.html" %}
{% block profile_content %}
    <h2 class="text-2xl font-bold mb-4">Suggested for You</h2>
    {% if not request.user.hobbies.exists or not request.user.birth_date or not request.user.gender or not request.user.location %}
        <p>
            Please <a href="{% url 'users:settings' %}">complete your profile</a> to receive better gift suggestions.
        </p>
    {% endif %}
    <div class="gift-list w-full flex flex-col gap-2">
        {% for gift in gifts %}
            {% include "partials/gift_card.html" with gift=gift %}
        {% empty %}
            <p>No suggested gifts found for you at this time.</p>
        {% endfor %}
    </div>
{% endblock profile_content %}
