{% extends "users/profile.html" %}
{% block profile_content %}
    <div class="flex justify-between w-full">
        <h1>{{ target }}</h1>
        <form method="post" action="{% url 'users:toggle_follow_user' target.id %}">
            {% csrf_token %}
            {% if is_friend %}
                <button type="submit" class="btn btn-danger">Unfollow</button>
            {% else %}
                <button type="submit" class="btn btn-primary">Follow</button>
            {% endif %}
        </form>
    </div>
    <ul class="mt-4">
        {% for gift in wished_gifts %}
            <li class="mb-4">
                <div>
                    <div>
                        <strong>{{ gift.name }}</strong>
                    </div>
                    <span>{{ gift.description }}</span>
                </div>
            </li>
        {% empty %}
            <li>No gift wished yet.</li>
        {% endfor %}
    </ul>
{% endblock profile_content %}
