{% extends "users/profile.html" %}
{% block profile_content %}
    <div class="flex justify-between w-full">
        <h1>Wishlist</h1>
        <a href="{% url 'gifts:create' %}" class="btn btn-primary">Crea un nuovo regalo</a>
    </div>
    <ul class="mt-4">
        {% for gift in suggested_gifts %}
            <li class="mb-4">
                <div>
                    <div>
                        <strong>{{ gift.name }}</strong>
                    </div>
                    <span>{{ gift.description }}</span>
                </div>
            </li>
        {% empty %}
            <li>Nessun regalo suggerito.</li>
        {% endfor %}
    </ul>
{% endblock profile_content %}
