<!-- templates/base.html -->
{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="description"
              content="GiftFinder is the app the will finally help you find that gift." />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            {% block title %}
                Gift Finder
            {% endblock title %}
        </title>
        {% compress css %}
            <link rel="stylesheet" href="{% static 'src/output.css' %}" />
        {% endcompress %}
        <style>{% block style %}
            {%endblock style%}
        </style>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"
                integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
                crossorigin="anonymous"></script>
        <link href="{% static 'autocomplete_light/select2.css' %}" rel="stylesheet"></link>
    <script src="{% static 'autocomplete_light/select2.min.js' %}"></script>
    <script src="{% static 'autocomplete_light/autocomplete_light.js' %}"></script>
    {{ form.media }}
</head>
<body>
    {% include "partials/topbar.html" %}
    <div class="content">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>
