<!-- templates/pages/home.html -->
{% extends "base.html" %}
{% block title %}
    Home - Gift Finder
{% endblock title %}
{% block content %}
    <div class="flex justify-center flex-col w-full items-center px-12 ">
        <h1 class="text-[72pt] mt-12">Welcome to Gift Finder</h1>
        <p class="tracking-widest">Your ultimate platform for finding the perfect gifts!</p>
        <div class="mt-8 flex gap-8">
            <a class="yw-btn w-[200px] py-8 text-center"
               href="{% url 'gifts:search' %}"
               type="button">Find a gift!</a>
            <a class="yw-btn w-[200px] py-8 text-center"
               href="{% url 'users:wishlist' %}"
               type="button">Write your wishlist</a>
        </div>
    </div>
{% endblock content %}
