:root {
    --globe-width: 12px;
    --globe-height: 28px;
    --globe-spacing: 40px;
    --globe-spread: 3px;
    --light-off-opacity: 0.4;

    --color-red: rgba(255, 0, 0, 1);
    --shadow-color-red: rgba(255, 0, 0, 1);
    --color-green: rgba(0, 128, 0, 1);
    --shadow-color-green: rgba(0, 128, 0, 1);
    --color-gold: rgba(255, 215, 0, 1);
    --shadow-color-gold: rgba(255, 215, 0, 1);
}

.lightrope {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    margin: -15px 0 0 0;
    padding: 0;
    pointer-events: none;
    width: 100%;
}

.lightrope li {
    position: relative;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    width: var(--globe-width);
    height: var(--globe-height);
    border-radius: 50%;
    margin: calc(var(--globe-spacing) / 2);
    display: inline-block;
    background-color: var(--color-red);
    box-shadow: 0px calc(var(--globe-height) / 6) calc(var(--globe-width) * 2) var(--globe-spread) var(--shadow-color-red);
    animation-name: flash-red;
    animation-duration: 2s;
}

.lightrope li:nth-child(2n+1) {
    background-color: var(--color-green);
    box-shadow: 0px calc(var(--globe-height) / 6) calc(var(--globe-width) * 2) var(--globe-spread) var(--shadow-color-green);
    animation-name: flash-green;
    animation-duration: 0.4s;
}

.lightrope li:nth-child(4n+2) {
    background-color: var(--color-gold);
    box-shadow: 0px calc(var(--globe-height) / 6) calc(var(--globe-width) * 2) var(--globe-spread) var(--shadow-color-gold);
    animation-name: flash-gold;
    animation-duration: 1.1s;
}

.lightrope li:nth-child(odd) {
    animation-duration: 1.8s;
}

.lightrope li:nth-child(3n+1) {
    animation-duration: 1.4s;
}

.lightrope li:before {
    content: "";
    position: absolute;
    background: #222;
    width: calc(var(--globe-width) - 2px);
    height: calc(var(--globe-height) / 3);
    border-radius: 3px;
    top: calc(0px - (var(--globe-height) / 6));
    left: 1px;
}

.lightrope li:after {
    content: "";
    top: calc(0px - var(--globe-height) / 2);
    left: calc(var(--globe-width) - 3px);
    position: absolute;
    width: calc(var(--globe-spacing) + 12px);
    height: calc((var(--globe-height) / 3) * 2);
    border-bottom: solid #222 2px;
    border-radius: 50%;
}

.lightrope li:last-child:after {
    content: none;
}

.lightrope li:first-child {
    margin-left: calc(-1 * var(--globe-spacing));
}

@keyframes flash-red {

    0%,
    100% {
        background-color: var(--color-red);
        box-shadow: 0px calc(var(--globe-height) / 6) calc(var(--globe-width) * 2) var(--globe-spread) var(--shadow-color-red);
    }

    50% {
        background-color: rgba(255, 0, 0, var(--light-off-opacity));
        box-shadow: 0px calc(var(--globe-height) / 6) calc(var(--globe-width) * 2) var(--globe-spread) rgba(255, 0, 0, 0.2);
    }
}

@keyframes flash-green {

    0%,
    100% {
        background-color: var(--color-green);
        box-shadow: 0px calc(var(--globe-height) / 6) calc(var(--globe-width) * 2) var(--globe-spread) var(--shadow-color-green);
    }

    50% {
        background-color: rgba(0, 128, 0, var(--light-off-opacity));
        box-shadow: 0px calc(var(--globe-height) / 6) calc(var(--globe-width) * 2) var(--globe-spread) rgba(0, 128, 0, 0.2);
    }
}

@keyframes flash-gold {

    0%,
    100% {
        background-color: var(--color-gold);
        box-shadow: 0px calc(var(--globe-height) / 6) calc(var(--globe-width) * 2) var(--globe-spread) var(--shadow-color-gold);
    }

    50% {
        background-color: rgba(255, 215, 0, var(--light-off-opacity));
        box-shadow: 0px calc(var(--globe-height) / 6) calc(var(--globe-width) * 2) var(--globe-spread) rgba(255, 215, 0, 0.2);
    }
}
