@import "./components.css";
@import "./festoon.css";
@import "./snow.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #d90429;
    --primary-color-light: #ef233c;
    --background-color: #73ba9b;
    --text-color: #ffffff;
    --secondary-color: #003e1f;
    --error-color: var(--secondary-color);
    --third-color: #e9db8a;
    overscroll-behavior: none;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}
