{% load static %}
<nav class="flex justify-between text-text-color bg-primary py-5 px-2 h-[75px] shadow">
    <div class="flex flex-1 items-center">
        <a href="{% url 'home' %}" class="px-2">Home</a>
        <a href="{% url 'gifts:search' %}" class="px-2">Search</a>
        <a href="{% url 'users:wishlist' %}" class="px-2">Profile</a>
        <a href="{% url 'forum:list' %}" class="px-2">Forum</a>
    </div>
    <div class="flex flex-1 justify-center">
        <img src="{% static 'src/img/logo/white-text-logo.svg' %}"
             alt="logo"
             class="h-full"
             height=""
             width="" />
    </div>
    <div class="flex flex-1 justify-end items-center">
        {% if user.is_authenticated %}
            {% include "partials/notifications.html" %}
            {% if user.is_superuser %}
                <a href="{% url 'admin:index' %}" class="px-2">Admin</a>
            {% endif %}
            <a href="{% url 'users:logout' %}" class="px-2">Logout</a>
        {% else %}
            <a href="{% url 'users:login' %}" class="px-2">Login</a>
            <a href="{% url 'users:signup' %}" class="px-2">Signup</a>
        {% endif %}
    </div>
</nav>
<ul class="lightrope">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>
